<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Otter</title>
  </head>
  <body>
    <h1>Edit <%= otter.name%></h1>
    <a href='/'>Home</a>
    <% if(typeof(errors) != 'undefined' ) { %>
      <% for (var x in errors) { %>
       <h3><%= errors[x].message %></h3>
      <% } %>
    <% } %>
    <hr />
    <form action='/otters/<%= otter.id %>' method='post'>
      Name: <input type='text' name='name' value="<%= otter.name %>">
      Favorite Color:<input type='text' name='favorite_color' value="<%= otter.favorite_color %>">
      Age:<input type='text' name='age' value="<%= otter.age %>">
      <input type='submit' value="Edit Otter" />
    </form>

  </body>
</html>
